@import '../../assets/scss/reset';
@import '../../assets/scss/mixins';
@import '../../assets/scss/fonts';

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $grey;
  font-size: 14px;
  font-family: 'Droid Sans Mono', monospace;
  height: 250px;
  color: white;
  margin-top: 300px;

  a{
    color: white;
    text-decoration: none;
  }

  ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    margin: 60px 0;
  }
}
