<section class="expertise" id="expertiseAnimation">
  <h1 [ngsReveal]="{ reset: true, origin: 'right', distance: '200px', duration: 1500, opacity: 0, scale : 1, delay: 500}">Expertise</h1>

  <div [ngsReveal]="{ reset: true, origin: 'bottom', distance: '200px', duration: 1500, opacity: 0, scale : 1, delay: 500}" class="item">
    <span>Ui design</span>
    <ul>
      <li>Webdesign</li>
      <li>Mobile Apps</li>
      <li>Motion Design</li>
    </ul>
  </div>


<div [ngsReveal]="{ reset: true, origin: 'bottom', distance: '200px', duration: 1500, opacity: 0, scale : 1, delay: 500}" class="item">
  <span>Art Direction</span>
  <ul>
    <li>Logos</li>
    <li>Brand Identity</li>
  </ul>
</div>


<div [ngsReveal]="{ reset: true, origin: 'bottom', distance: '200px', duration: 1500, opacity: 0, scale : 1, delay: 500}" class="item">
  <span>Front-end Development</span>
  <ul>
    <li>HTML5/CSS4</li>
    <li>JavaScript</li>
    <li>Agular 2&4 / React / React Native / Redux</li>
  </ul>
</div>

</section>
