@import '../../assets/scss/reset';
@import '../../assets/scss/mixins';
@import '../../assets/scss/fonts';

nav{
  width: 100vw;
  margin: 0 auto;
  position: fixed;
  z-index: 10;
  background-color: white;
  ul{
    width: 100%;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 65px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    li{
      font-family: 'Droid Sans Mono', monospace;
      list-style: none;
      a{
        text-decoration: none;
        color: $grey;
        display: block;
        position: relative;


        &:after{
          content: '';
          width: 0px;
          height: 5px;
          display: block;
          position: absolute;
          background-color: $green;
          top: 15px;
          mix-blend-mode: multiply;
          animation: hoverLeave 0.5s ease-in;
        }
        &:hover{
          &:after{
            content: '';
            width: 50px;
            height: 5px;
            display: block;
            position: absolute;
            background-color: $green;
            top: 15px;
            mix-blend-mode: multiply;
            animation: hoverEnter 0.5s ease-in;
          }
        }
        &.is-active{
          &:after{
            content: '';
            width: 50px;
            height: 5px;
            display: block;
            position: absolute;
            background-color: $green;
            top: 15px;
            mix-blend-mode: multiply;
          }
        }
      }
      .logo{
        height: 32px;
      }
    }
  }
}

@keyframes hoverEnter {
  from{
    width: 0px;
  }
  to{
    width: 50px;
  }
}

@keyframes hoverLeave {
  from{
    width: 50px;
  }
  to{
    width: 0px;
  }
}
