<section class="projects__container">
  <div [ngsReveal]="{ reset: true, origin: 'bottom', distance: '1000px', duration: 1500, opacity: 0, scale: 1}" class={{project.class}} *ngFor="let project of projects | async">
    <div (mouseover)="onMouseOver(project.color)"  (mouseout)="onMouseOut()" class="project">
      <div class="project__img--portrait"  [style.background]="'url(assets/img/' + project.image + ')'"></div>
      <h1>{{project.name}}</h1>
      <ul class="project__list" >
        <li [style.color]="colorTags" *ngFor="let tag of project.tags.split(';')">{{tag}}</li>
      </ul>
      <a [routerLink]="project.url" [queryParams]="{}">Discover</a>
      <img id="project__img--Path" src={{project.path}} alt="">
    </div>
  </div>
</section>
