<section class="lastProjects">
<h1 class="project__title" [ngsReveal]="{ reset: true, origin: 'bottom', distance: '1000px', duration: 1500, opacity: 0, scale: 1}" >Last projects</h1>
  <section class="projects" [ngsReveal]="{ reset: true, origin: 'bottom', distance: '1000px', duration: 1500, opacity: 0, scale: 1}">
    <section class="project + {{project.class}}" *ngFor="let project of projects | async">
      <div class="project__img--portrait"  [style.background]="'url(assets/img/' + project.image + ')'"></div>
      <h1>{{project.name}}</h1>
      <ul class="project__list" >
        <li [style.color]=project.color *ngFor="let tag of project.tags.split(';')">{{tag}}</li>
      </ul>
      <a [routerLink]="['/home/' + project.url]" (click)="reloadData()">Discover</a>
      <img id="project__img--Path" src={{project.path}} alt="">
    </section>
  </section>
</section>
