@import '../../assets/scss/reset';
@import '../../assets/scss/mixins';
@import '../../assets/scss/fonts';
.landingPage{
  font-family: 'Avenir LT Std 65 Medium';
  padding-bottom: 15px;
  transform: inherit;
  animation: landingPageEnter 1s ease-in;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .img--darken{
    position: absolute;
    z-index: 5;
    bottom: 0px;
    mix-blend-mode: darken;
    width: 100%;
  }
  .landingPage__background{
    position: relative;
    width: 95vw;
    height: 91vh;
    margin: 0 auto;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;

    h1{
      color: grey;
      opacity: 0.45;
      z-index: 2;
      animation: titleIn 1.5s ease-in;
      margin-top: inherit;
      opacity: 0.45;
      span{
        letter-spacing: -0.05em;
        font-size: 15vw;
        padding-right: 55px;
        font-family: 'signpainter';
      }
    }
    h2{
      color: $green;
      font-size: 3vw;
      width: 500px;
      z-index: 2;
      opacity: 1;
    }
    .svg{
      position: absolute;
      z-index: 1;
      top: 129px;
      right: 50px;
      width: 65%;
    }
  }
}

@keyframes landingPageEnter {
  from{
    transform: translateX(100%);
  }
  to{
    transform: inherit;
  }
}

@keyframes titleIn{
  from{
    margin-top: 500px;
    opacity: 0;
  }
  to{
    margin-top: inherit;
    opacity: 0.45;
  }
}
